.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;
}

input {
  padding: 12px;
  width: 80%;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;  /* Adicionado o espaçamento entre os botões */
  margin-right: 10px; /* Espaçamento à direita para os botões */
}

button:hover {
  background-color: #45a049;
}

div {
  margin-top: 20px;
}


h1 {
  font-size: 2rem;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  color: #333;
}

img {
  margin-top: 20px;
}

p {
  font-size: 18px;
  color: #555;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 10px;
}
